.gridArea {
    display: flex;
    flex-direction: column;
    flex: 1,1,content;
    height: 500px;
    width: 500px;
}

.vertical {
    display:flex;
    flex: 1,1,auto;
    height:100%;
    border-style: none;
}

.horizontal {
    width: 100%;
}
* {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

html, body {
    height: 100%
}